# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Test and coverage
.coverage
htmlcov/
.tox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Mypy
.mypy_cache/
.dmypy.json

# Build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Wheel
*.whl

# Others
*.sqlite3
*.db
*.pot
*.mo
*.log

*.html
*.json